openapi: 3.0.3
info:
  title: Invoice Service
  description: This service is responsible for receiving invoices and sending them to the specified partner.
  contact:
    email: dah-partner-solutions@sos.eu
  version: 1.0.0
servers:
  - url: https://invoice-service.apps.sos.eu
  - url: https://invoice-service-sos-technical-services-dev.apps.ocpt1.sos.eu/
  - url: https://invoice-service-develop-sos-technical-services-dev.apps.ocpt1.sos.eu/
  - url: https://invoice-service-develop-sos-technical-services-tst.apps.ocpt1.sos.eu/
  - url: https://invoice-service-develop-sos-technical-services-uat.apps.ocpt1.sos.eu/
tags:
  - name: invoice
    description: Operations regarding sending invoices to customers
paths:
  /invoice:
    post:
      tags:
        - invoice
      summary: Send invoice
      operationId: sendInvoice
      requestBody:
        description: Invoice object that needs to be send to the customer
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invoice"
        required: true
      responses:
        200:
          description: successful operation
          content: {}
        400:
          description: Invalid invoice request
          content: {}
components:
  schemas:
    InvoiceEntry:
      type: object
      required:
        - description
        - amount
      properties:
        description:
          type: string
        amount:
          type: number
          format: amount
    RentalPeriod:
      type: object
      required:
        - fromDate
        - toDate
      properties:
        fromDate:
          type: string
          format: date-time
        toDate:
          type: string
          format: date-time
    Requester:
      type: object
      required:
        - name
        - dateTime
      properties:
        name:
          type: string
        dateTime:
          type: string
          format: date-time
        form:
          type: string
          default: "Telephone"
          enum:
            - "Telephone"
            - "App"
            - "Other"
            - "Unknown"
    Vehicle:
      type: object
      required:
        - regNo
      properties:
        regNo:
          type: string
        make:
          type: string
        model:
          type: string
    Invoice:
      type: object
      required:
        - customer
        - vendor
        - vendorBankAccount
        - policyNo
        - caseNo
        - kid
        - invoiceNo
        - invoiceDate
        - invoiceDueDate
        - totalAmount
        - totalVat
        - totalAmountVat
        - requester
        - vehicle
      properties:
        customer:
          type: string
        vendor:
          type: string
          default: SOS
        vendorBankAccount:
          type: string
        policyNo:
          type: string
        caseNo:
          type: string
        kid:
          type: string
        invoiceNo:
          type: string
        invoiceDate:
          type: string
          format: date-time
        invoiceDueDate:
          type: string
          format: date-time
        totalAmount:
          type: number
          format: amount
          description: The total amount excluding VAT
        totalVat:
          type: number
          format: amount
          description: The total VAT
        totalAmountVat:
          type: number
          format: amount
          description: The total amount including VAT
        invoiceEntries:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceEntry"
        requester:
          $ref: "#/components/schemas/Requester"
        faultDescription:
          type: string
        rentalPeriod:
          $ref: "#/components/schemas/RentalPeriod"
        passengerTransport:
          type: boolean
        vehicle:
          $ref: "#/components/schemas/Vehicle"
        breakdownAddress:
          type: string
        towingAddress:
          type: string
        country:
          type: string
        assistanceDateTime:
          type: string
          format: date-time
        assistanceType:
          type: string
        overallAssistanceType:
          type: string
        additionalAssistanceType:
          type: string
        additionalRegistrationNo:
          type: string
